# *List*omania

Lists are a key data structure for working with all kinds of data: text, numbers, and even more complex objects.

## What is a list

In Python, a `list` is simply an ordered collection of items. Note that Python does not distinguish between a list and an array — at least as far as the standard library is concerned, they are both lists.

> You can put anything you want into a list, and the items in your list don't have to be related in any particular way. (Matthes 2023, p. 33)


Let's make a list:

In [1]:
lyric_poets = ["Alcman", "Sappho", "Alcaeus", "Anacreon", "Stesichorus", "Ibycus", "Simonides", "Bacchylides", "Pindar"]

As before, we can inspect the list by printing it:

In [2]:
print(lyric_poets)

['Alcman', 'Sappho', 'Alcaeus', 'Anacreon', 'Stesichorus', 'Ibycus', 'Simonides', 'Bacchylides', 'Pindar']

Or we can simply invoke it to return its data in the console:

In [3]:
lyric_poets

['Alcman',
 'Sappho',
 'Alcaeus',
 'Anacreon',
 'Stesichorus',
 'Ibycus',
 'Simonides',
 'Bacchylides',
 'Pindar']

## Access granted

To access an element in a list, we use its `index`. Lists in Python start at 0, so to get the first item, we write:

In [5]:
lyric_poets[0]

'Alcman'

What is the `type` of `lyric_poets[0]`?

In [6]:
type(lyric_poets[0])

str

Easy enough! That means we can use any of the string methods on it:

In [7]:
lyric_poets[0].lower()

'alcman'

In [8]:
lyric_poets[0].upper()

'ALCMAN'

_Et cetera_. What if we wanted to get the last element of a list? We _could_ try to do it the hard way — count up the number of items in the list and subtract 1:

In [9]:
lyric_poets[8]

'Pindar'

Or, leveraging Python a bit more:

In [10]:
lyric_poets[len(lyric_poets) - 1]

'Pindar'

But there's an even simpler way! Just use a negative index:

In [11]:
lyric_poets[-1]

'Pindar'

Now what if we wanted the second-to-last item in the list?

In [12]:
lyric_poets[-2]

'Bacchylides'

Easy-peasy. Note that because `-0` is meaningless and `0` is defined as the first index starting at the front of hte list, negative indexes start at `-1`.

In [13]:
lyric_poets[-0]

'Alcman'

In [14]:
lyric_poets[4]

'Stesichorus'

In [15]:
lyric_poets[int(len(lyric_poets) / 2)]

'Stesichorus'

## Adding elements to a list

What if we decide to transliterate κ as `k` instead of `c`? We can change the names in the list that are affected:

In [16]:
lyric_poets[0] = 'Alkman'
lyric_poets

['Alkman',
 'Sappho',
 'Alcaeus',
 'Anacreon',
 'Stesichorus',
 'Ibycus',
 'Simonides',
 'Bacchylides',
 'Pindar']

And now what if we want to expand the list beyond the Greek Nine, adding, say, Horace?

In [17]:
lyric_poets.append("Horace")

In [18]:
lyric_poets

['Alkman',
 'Sappho',
 'Alcaeus',
 'Anacreon',
 'Stesichorus',
 'Ibycus',
 'Simonides',
 'Bacchylides',
 'Pindar',
 'Horace']

In [21]:
new_poets = []
for poet in lyric_poets:
    if poet == "Horace":
        new_poets.append(poet)
    else:
        new_poets.append(poet.replace("c", "k"))

In [22]:
new_poets

['Alkman',
 'Sappho',
 'Alkaeus',
 'Anakreon',
 'Stesikhorus',
 'Ibykus',
 'Simonides',
 'Bakkhylides',
 'Pindar',
 'Horace']

What about inserting "Ovid" between "Anacreon" and "Stesichorus"?

In [23]:
lyric_poets.insert(4, "Ovid")
lyric_poets

['Alkman',
 'Sappho',
 'Alcaeus',
 'Anacreon',
 'Ovid',
 'Stesichorus',
 'Ibycus',
 'Simonides',
 'Bacchylides',
 'Pindar',
 'Horace']

Should we add "Homer" just for fun?

In [24]:
lyric_poets.append("Homer")
lyric_poets

['Alkman',
 'Sappho',
 'Alcaeus',
 'Anacreon',
 'Ovid',
 'Stesichorus',
 'Ibycus',
 'Simonides',
 'Bacchylides',
 'Pindar',
 'Horace',
 'Homer']

Ah, but wait, Homer is an epic poet, not a lyric poet. How do we remove an item?

In [25]:
del lyric_poets[-1] # we can use -1 because we know "Homer" is currently the last element

In [26]:
lyric_poets

['Alkman',
 'Sappho',
 'Alcaeus',
 'Anacreon',
 'Ovid',
 'Stesichorus',
 'Ibycus',
 'Simonides',
 'Bacchylides',
 'Pindar',
 'Horace']

`del` just gets rid of the element entirely — poof, no more Homer!

But we can also use the `pop()` method, which removes and _returns_ the last element in a list.

When an element is **returned**, it can be assigned to another variable.

In [27]:
teaching_semesters = ["F2018", "S2019", "F2019", "S2020", "F2021", "S2022"]

most_recent_semester = teaching_semesters.pop()

print(f"I most recently taught in {most_recent_semester}.")
print(f"I also taught in {", ".join(teaching_semesters)}.")

I most recently taught in S2022.
I also taught in F2018, S2019, F2019, S2020, F2021.

Did you catch that use of `join()` on the string `", "`? That bit of code says, "Gather all of the elements in this list, and separate them by `", "`."

Remember, `pop()` and `del` change the underlying list:

In [28]:
teaching_semesters

['F2018', 'S2019', 'F2019', 'S2020', 'F2021']

In [29]:
teaching_semesters.pop()

'F2021'

In [30]:
teaching_semesters

['F2018', 'S2019', 'F2019', 'S2020']

You can also remove items by value — that is, in this case, by their string, rather than their index.

In [31]:
teaching_semesters.remove("S2020") # partially online due to Covid

In [32]:
teaching_semesters

['F2018', 'S2019', 'F2019']

`remove()` will only remove the _first instance_ that matches the specified value (Matthes 2023, p. 41).

## Getting organized

You can `sort()` lists. As with `pop()`, `sort()` changes the underlying list.

In [33]:
my_list = [3, 4, 1, 5, -1, 8]
my_list

[3, 4, 1, 5, -1, 8]

In [34]:
my_list.sort()
my_list

[-1, 1, 3, 4, 5, 8]

If you need to keep the original order of the list, you can use `sorted()` instead.

In [35]:
my_list = [3, 4, 1, 5, -1, 8]
my_list

[3, 4, 1, 5, -1, 8]

In [37]:
print(sorted(my_list))
print(my_list)

[8, 5, 4, 3, 1, -1]
[3, 4, 1, 5, -1, 8]

Note that sorting strings can sometimes lead to unexpected results if the items in the list are not in the same case.

We can also reverse a list:

In [38]:
my_list.reverse()
my_list

[8, -1, 5, 1, 4, 3]

Again, `reverse()` will change the underlying list. So if you run the above cell twice, you'll get the original list back!

We've already used `len()` above, but let's try it again here for good measure:

In [39]:
len(my_list)

6

## Errors

What if we try to access an index that doesn't exist in a list?

In [41]:
my_list[6]

IndexError: list index out of range

Again, don't panic. `IndexError`s happen all the time. Just take a look at what went wrong, inspect the list if you have to, and patch things up from there:

In [44]:
my_list[5]

3

In [43]:
foo = []
if len(foo) > 0:
    print(foo[0])
else:
    print("Empty list!")

Empty list!

Ah, right! List indexes start at `0`, so even though there are 6 elements in the `my_list`, its indexes only go up to `5`.

# Exercises

Complete Exercise 3-8 in Matthes (2023, p. 45).